/* TODO: Swap to SASS: https://www.playframework.com/modules/sass-1.0/home or similar */

html {
    height:100%;
}

body {
	padding-top: 60px;
}

/* TODO: Move div container from main.html into pages */
.container {
	max-width: 100vw;
	width: 100vw;
	padding-left: 0px;
}

.height-width-full {
  height: 80vh;
  width: 100vw;
}

.footer {
	background-color: #d0d0d0;
	margin-top: 20px;
	padding: 20px 0;
	line-height: 15px;
}